<a href="https://colab.research.google.com/github/RaviGprec/Machine-Learning/blob/master/Bag_of_word_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#                       **Bag of Words** **concept** 

    It's a matrix where every row is an observation and every column is unique feature which are derived from the text that we are going to analyse

In [0]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

## Let's create Text data

In [0]:
df = np.array(["I love my india!!",
              "we are at opentext bangalore office",
              "bahubali is India's biggest hit"])

## Creating Bags of words

In [4]:
cv = CountVectorizer()
bag_of_words = cv.fit_transform(df)
bag_of_words.toarray()

array([[0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0],
       [1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1],
       [0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0]], dtype=int64)

## Let's view the newly created Bag of words as a matrix

In [5]:
feature_names = cv.get_feature_names()
feature_names

['are',
 'at',
 'bahubali',
 'bangalore',
 'biggest',
 'hit',
 'india',
 'is',
 'love',
 'my',
 'office',
 'opentext',
 'we']

## Viewing as a DataFrame

In [6]:
df_cleaned = pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

df_cleaned

,are,at,bahubali,bangalore,biggest,hit,india,is,love,my,office,opentext,we
0,0,0,0,0,0,0,1,0,1,1,0,0,0
1,1,1,0,1,0,0,0,0,0,0,1,1,1
2,0,0,1,0,1,1,1,1,0,0,0,0,0

In [0]:
import string
string.