<a href="https://colab.research.google.com/github/RaviGprec/Machine-Learning/blob/master/PCA_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn import decomposition, datasets
from sklearn.preprocessing import StandardScaler
#Loading Breast Cancel Data Set

dataset = datasets.load_breast_cancer()

X = dataset.data

In [3]:
X

array([[1.799e+01, 1.038e+01, 1.228e+02, ..., 2.654e-01, 4.601e-01,
        1.189e-01],
       [2.057e+01, 1.777e+01, 1.329e+02, ..., 1.860e-01, 2.750e-01,
        8.902e-02],
       [1.969e+01, 2.125e+01, 1.300e+02, ..., 2.430e-01, 3.613e-01,
        8.758e-02],
       ...,
       [1.660e+01, 2.808e+01, 1.083e+02, ..., 1.418e-01, 2.218e-01,
        7.820e-02],
       [2.060e+01, 2.933e+01, 1.401e+02, ..., 2.650e-01, 4.087e-01,
        1.240e-01],
       [7.760e+00, 2.454e+01, 4.792e+01, ..., 0.000e+00, 2.871e-01,
        7.039e-02]])

In [4]:
X.shape

(569, 30)

We have 569 records and 30 features in it.

In [0]:
dataframe = pd.DataFrame.from_records(X)

In [14]:
dataframe.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

# Appying Standard Scalling

In [0]:
sc = StandardScaler()
X_scaled = sc.fit_transform(X)

# Apply Principal Component Analysis on the scaled data

In [0]:
pca = decomposition.PCA(n_components = 4)

X_scaled_pca = pca.fit_transform(X_scaled)

 n_component is no.of features we want to have in the result

In [8]:
X_scaled_pca.shape

(569, 4)

In [0]:
dataframe = pd.DataFrame.from_records(X_scaled_pca)

In [11]:
dataframe.head()

          0          1         2         3
0  9.192837   1.948583 -1.123168  3.633705
1  2.387802  -3.768172 -0.529293  1.118257
2  5.733896  -1.075173 -0.551746  0.912110
3  7.122953  10.275589 -3.232790  0.152546
4  3.935302  -1.948071  1.389768  2.940653