<a href="https://colab.research.google.com/github/RaviGprec/Machine-Learning/blob/master/trivago_competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

train_df = pd.read_csv("train_set.csv", encoding = "utf-8")
train_df.head()

       hotel_id   city_id  ...  avg_saving_percent  n_clicks
0  9.767406e+10  134520.0  ...                18.0         0
1  9.768889e+10  133876.0  ...                28.0         4
2  9.811544e+10  133732.0  ...                27.0        44
3  9.824279e+10   43772.0  ...                 2.0         4
4  9.833438e+10   50532.0  ...                 0.0        10

[5 rows x 12 columns]

In [87]:
test_df = pd.read_csv("test_set.csv", encoding = "utf-8")
test_df.head()

       hotel_id   city_id  ...  avg_price  avg_saving_percent
0   14942256073  122750.0  ...      90.19                32.0
1   16036037903   28134.0  ...      98.27                19.0
2  288585940112   30578.0  ...      48.77                 0.0
3  129041645070   54398.0  ...      72.32                 0.0
4   12460296563   63890.0  ...      24.54                19.0

[5 rows x 11 columns]

In [88]:
print("Train_set shape : ", train_df.shape)
print("Test_set shape : ", test_df.shape)

Train_set shape :  (396487, 12)
Test_set shape :  (132162, 11)

In [89]:
train_df.isnull().sum()

hotel_id                   0
city_id                  508
content_score            508
n_images                 509
distance_to_center       529
avg_rating            110398
stars                    562
n_reviews                529
avg_rank                   0
avg_price                170
avg_saving_percent       170
n_clicks                   0
dtype: int64

In [90]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132162 entries, 0 to 132161
Data columns (total 11 columns):
hotel_id              132162 non-null int64
city_id               132007 non-null float64
content_score         132007 non-null float64
n_images              132006 non-null float64
distance_to_center    131999 non-null float64
avg_rating            95532 non-null float64
stars                 131987 non-null float64
n_reviews             131999 non-null float64
avg_rank              132162 non-null float64
avg_price             132104 non-null float64
avg_saving_percent    132104 non-null float64
dtypes: float64(10), int64(1)
memory usage: 11.1 MB

In [91]:
train_df['stars'].value_counts()

0.0    251082
3.0     65848
4.0     40635
2.0     24726
5.0      8992
1.0      4642
Name: stars, dtype: int64

In [0]:
train_df['stars'].fillna(0, inplace=True)

In [93]:
train_df['stars'].value_counts()

0.0    251644
3.0     65848
4.0     40635
2.0     24726
5.0      8992
1.0      4642
Name: stars, dtype: int64

In [94]:
train_df['city_id'].value_counts()

50168.0     2489
44470.0     1676
34798.0     1583
30576.0     1367
26874.0     1134
31786.0      985
46884.0      974
53604.0      848
63440.0      845
7696.0       835
53222.0      819
55122.0      796
133754.0     772
29468.0      772
133876.0     754
123898.0     725
131850.0     719
27256.0      708
54398.0      673
52704.0      667
53758.0      664
49958.0      640
142924.0     630
54372.0      607
52278.0      558
54646.0      549
30150.0      545
41066.0      537
31804.0      518
27266.0      510
            ...
382072.0       1
764162.0       1
764172.0       1
737312.0       1
763992.0       1
764212.0       1
47764.0        1
23884.0        1
7640.0         1
764312.0       1
764332.0       1
764012.0       1
763972.0       1
763642.0       1
763782.0       1
381822.0       1
456192.0       1
763652.0       1
40720.0        1
763692.0       1
763772.0       1
44312.0        1
763962.0       1
763842.0       1
381922.0       1
763852.0       1
190964.0       1
763902.0       1
381972.0       1
2.0            1
Name: city_id, Length: 33213, dtype: int64

In [0]:
train_df['city_id'].fillna(50168, inplace= True)

In [96]:
train_df['city_id'].value_counts()

50168.0     2997
44470.0     1676
34798.0     1583
30576.0     1367
26874.0     1134
31786.0      985
46884.0      974
53604.0      848
63440.0      845
7696.0       835
53222.0      819
55122.0      796
133754.0     772
29468.0      772
133876.0     754
123898.0     725
131850.0     719
27256.0      708
54398.0      673
52704.0      667
53758.0      664
49958.0      640
142924.0     630
54372.0      607
52278.0      558
54646.0      549
30150.0      545
41066.0      537
31804.0      518
27266.0      510
            ...
382072.0       1
764162.0       1
764172.0       1
737312.0       1
763992.0       1
764212.0       1
47764.0        1
23884.0        1
7640.0         1
764312.0       1
764332.0       1
764012.0       1
763972.0       1
763642.0       1
763782.0       1
381822.0       1
456192.0       1
763652.0       1
40720.0        1
763692.0       1
763772.0       1
44312.0        1
763962.0       1
763842.0       1
381922.0       1
763852.0       1
190964.0       1
763902.0       1
381972.0       1
2.0            1
Name: city_id, Length: 33213, dtype: int64

In [97]:
train_df['n_images'].value_counts()

 0.0          186356
 1.0           76913
 2.0           52389
 3.0           29851
 4.0           18404
 5.0           10647
 6.0            6346
 7.0            3933
-1.0            3361
 8.0            2471
 9.0            1555
 10.0           1047
 11.0            658
 12.0            467
 13.0            311
 14.0            224
 15.0            151
 16.0            112
 17.0             82
 18.0             75
 19.0             63
 20.0             58
 21.0             43
 22.0             35
 23.0             23
 25.0             19
 24.0             16
 26.0             13
 28.0             11
 30.0              9
               ...
 51177.0           1
 1642262.0         1
 1644432.0         1
 103044.0          1
 407134.0          1
 206184.0          1
 51619.0           1
 1654706.0         1
 207505.0          1
 103770.0          1
 104066.0          1
 51004.0           1
 6330.0            1
 1492899.0         1
 190.0             1
 1493345.0         1
 187937.0          1
 5941.0            1
 1544912.0         1
 24202.0           1
 70.0              1
 60.0              1
 24859.0           1
 24416.0           1
 46.0              1
 392494.0          1
 49426.0           1
 792199.0          1
 49691.0           1
 1330733.0         1
Name: n_images, Length: 318, dtype: int64

In [0]:
train_df['n_images'].fillna(0, inplace=True)

In [99]:
train_df['n_reviews'].value_counts()

0.0        109869
60.0         3830
63.0         3582
66.0         3550
69.0         3254
72.0         3225
75.0         2974
78.0         2934
81.0         2748
84.0         2720
87.0         2560
90.0         2521
93.0         2462
96.0         2308
102.0        2203
99.0         2169
108.0        2058
105.0        2007
114.0        1977
111.0        1922
117.0        1912
120.0        1892
126.0        1827
132.0        1806
129.0        1800
123.0        1777
135.0        1701
138.0        1658
141.0        1588
156.0        1535
            ...
46719.0         1
23358.0         1
11673.0         1
16326.0         1
23322.0         1
23319.0         1
23313.0         1
23298.0         1
46590.0         1
23445.0         1
16314.0         1
13632.0         1
11814.0         1
11841.0         1
11832.0         1
25266.0         1
11829.0         1
16302.0         1
11823.0         1
23631.0         1
18312.0         1
23511.0         1
12750.0         1
11799.0         1
15432.0         1
11781.0         1
23559.0         1
14532.0         1
47070.0         1
13680.0         1
Name: n_reviews, Length: 5817, dtype: int64

In [0]:
train_df['n_reviews'].fillna(0, inplace=True)

In [101]:
train_df['distance_to_center'].mean()

16343.827620606226

In [0]:
distance_to_center = train_df['distance_to_center'].mean()
content_score = train_df['content_score'].mean()
avg_rating = train_df['avg_rating'].mean()
avg_price= train_df['avg_price'].mean()
avg_saving_percent = train_df['avg_saving_percent'].mean()

train_df['distance_to_center'].fillna(distance_to_center, inplace = True)
train_df['content_score'].fillna(content_score, inplace = True)
train_df['avg_rating'].fillna(avg_rating, inplace = True)
train_df['avg_price'].fillna(avg_price, inplace = True)
train_df['avg_saving_percent'].fillna(avg_saving_percent, inplace = True)

In [103]:
distance_to_center

16343.827620606226

In [104]:
train_df.isnull().sum()

hotel_id              0
city_id               0
content_score         0
n_images              0
distance_to_center    0
avg_rating            0
stars                 0
n_reviews             0
avg_rank              0
avg_price             0
avg_saving_percent    0
n_clicks              0
dtype: int64

In [105]:
train_df['city_id'][0]

134520.0

In [106]:
test_df.isnull().sum()

hotel_id                  0
city_id                 155
content_score           155
n_images                156
distance_to_center      163
avg_rating            36630
stars                   175
n_reviews               163
avg_rank                  0
avg_price                58
avg_saving_percent       58
dtype: int64

In [107]:
test_df['city_id'].value_counts()

50168.0     793
44470.0     537
34798.0     506
30576.0     373
26874.0     338
46884.0     334
31786.0     321
63440.0     313
53604.0     296
7696.0      276
133876.0    262
29468.0     256
55122.0     255
27256.0     247
53222.0     245
131850.0    239
54398.0     233
123898.0    233
49958.0     232
133754.0    230
54372.0     227
53758.0     226
52704.0     224
142924.0    196
54646.0     195
31804.0     187
27266.0     177
133732.0    176
30150.0     173
46084.0     167
           ...
22314.0       1
4572.0        1
613312.0      1
100870.0      1
27020.0       1
45554.0       1
54712.0       1
54734.0       1
728792.0      1
614072.0      1
45846.0       1
614052.0      1
3412.0        1
876112.0      1
18718.0       1
438042.0      1
109508.0      1
613902.0      1
124900.0      1
22774.0       1
27370.0       1
613852.0      1
875992.0      1
728772.0      1
613802.0      1
613772.0      1
613762.0      1
38358.0       1
218962.0      1
859440.0      1
Name: city_id, Length: 20903, dtype: int64

In [0]:
test_df['city_id'].fillna(50168, inplace=True)

In [109]:
test_df['n_images'].value_counts()

 0.0          62284
 1.0          26043
 2.0          17211
 3.0           9910
 4.0           6025
 5.0           3425
 6.0           2063
 7.0           1301
-1.0           1119
 8.0            799
 9.0            519
 10.0           358
 11.0           237
 12.0           160
 13.0           116
 14.0            83
 15.0            58
 16.0            41
 17.0            30
 19.0            21
 20.0            17
 21.0            14
 18.0            14
 22.0            10
 26.0             9
 23.0             7
 25.0             6
 24.0             5
 30.0             4
 33.0             3
              ...
 40.0             1
 1321261.0        1
 37.0             1
 1320568.0        1
 76074.0          1
 1217447.0        1
 152981.0         1
 76802.0          1
 373040.0         1
 76815.0          1
 76818.0          1
 76840.0          1
 64493.0          1
 1758324.0        1
 1243705.0        1
 23597.0          1
 79296.0          1
 79397.0          1
 898426.0         1
 79705.0          1
 28.0             1
 40186.0          1
 20218.0          1
 40510.0          1
 651668.0         1
 656581.0         1
 2628317.0        1
 919424.0         1
 922410.0         1
 76931.0          1
Name: n_images, Length: 138, dtype: int64

In [0]:
test_df['n_images'].fillna(0, inplace=True)

In [111]:
test_df['n_reviews'].value_counts()

0.0        36467
60.0        1330
63.0        1230
66.0        1142
69.0        1102
72.0        1102
75.0        1046
78.0         974
81.0         917
87.0         895
84.0         870
90.0         846
93.0         814
96.0         789
99.0         767
108.0        711
111.0        704
105.0        702
102.0        686
132.0        664
114.0        642
123.0        630
117.0        628
120.0        627
129.0        597
126.0        594
138.0        591
144.0        586
135.0        586
141.0        540
           ...
12510.0        1
13770.0        1
13731.0        1
27459.0        1
15603.0        1
19608.0        1
9567.0         1
14856.0        1
11526.0        1
9579.0         1
9270.0         1
7809.0         1
17352.0        1
9720.0         1
27375.0        1
19185.0        1
38382.0        1
13692.0        1
15615.0        1
9216.0         1
19203.0        1
9603.0         1
13707.0        1
19227.0        1
9615.0         1
11511.0        1
19239.0        1
7803.0         1
14910.0        1
16383.0        1
Name: n_reviews, Length: 4115, dtype: int64

In [0]:
test_df['n_reviews'].fillna(0, inplace= True)

In [113]:
test_df['stars'].value_counts()

0.0    83839
3.0    22136
4.0    13341
2.0     8220
5.0     2975
1.0     1476
Name: stars, dtype: int64

In [0]:
test_df['stars'].fillna(0, inplace = True)

In [0]:
test_distance_to_center = test_df['distance_to_center'].mean()
test_content_score = test_df['content_score'].mean()
test_avg_rating = test_df['avg_rating'].mean()
test_avg_price = test_df['avg_price'].mean()
test_avg_saving_percent = test_df['avg_saving_percent'].mean()

test_df['distance_to_center'].fillna(test_distance_to_center, inplace= True)
test_df['content_score'].fillna(test_content_score, inplace= True)
test_df['avg_rating'].fillna(test_avg_rating, inplace= True)
test_df['avg_price'].fillna(test_avg_price, inplace= True)
test_df['avg_saving_percent'].fillna(test_avg_saving_percent, inplace= True)

In [116]:
test_df.isnull().sum()

hotel_id              0
city_id               0
content_score         0
n_images              0
distance_to_center    0
avg_rating            0
stars                 0
n_reviews             0
avg_rank              0
avg_price             0
avg_saving_percent    0
dtype: int64

In [117]:
train_df.columns

Index(['hotel_id', 'city_id', 'content_score', 'n_images',
       'distance_to_center', 'avg_rating', 'stars', 'n_reviews', 'avg_rank',
       'avg_price', 'avg_saving_percent', 'n_clicks'],
      dtype='object')

In [0]:
Y = train_df['n_clicks']
X = train_df.drop(['n_clicks', 'hotel_id'],axis = 1)

In [119]:
print("X shape  : ", X.shape)

X shape  :  (396487, 10)

In [0]:
#train_df.to_csv("Train_df_cleaned.csv")

In [0]:
#test_df.to_csv("Test_df_cleaned.csv")

In [0]:
hotel_id = test_df['hotel_id']
test_df = test_df.drop(['hotel_id'],axis =1)

In [0]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X  = sc.fit_transform(X)
test_df = sc.transform(test_df)

In [0]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2)

In [125]:
print("x_train shape : ", x_train.shape)
print("y_train shape : ", y_train.shape)
print("x_test shape : ", x_test.shape)
print("y_test shape : ", y_test.shape)

x_train shape :  (317189, 10)
y_train shape :  (317189,)
x_test shape :  (79298, 10)
y_test shape :  (79298,)

In [126]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()
rfr.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [0]:
y_pred_rfr = rfr.predict(x_test)
y_pred_rfr = roundValues(y_pred_rfr)

In [128]:
y_pred_rfr

array([ 21.,  13.,   4., ...,   0., 138.,   0.])

In [0]:
def roundValues(y_pred):
  for i in range(len(y_pred)):
    if y_pred[i] < 0:
      y_pred[i] = 0
    else:
      continue
  return y_pred.round()

In [130]:
from sklearn.metrics import r2_score

print("training Accuracy : ", r2_score(y_test,y_pred_rfr))

training Accuracy :  0.2331428734143609

In [0]:
from sklearn.linear_model import LinearRegression
lr =LinearRegression().fit(x_train,y_train)

In [0]:
y_pred_lr = lr.predict(x_test)
y_pred_lr = roundValues(y_pred_lr)

In [133]:
print("training Accuracy : ", r2_score(y_test,y_pred_lr))

training Accuracy :  0.05258854822204462

In [0]:
from sklearn.metrics import mean_squared_error
print("Mean Squared Error : ", mean_squared_error(y_test,y_pred_lr))

In [135]:
from xgboost import XGBRegressor
xgb = XGBRegressor()
xgb.fit(x_train,y_train)

[15:51:43] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [0]:
y_pred_xgb = xgb.predict(x_test)
y_pred_xgb = roundValues(y_pred_xgb)

In [0]:
#y_pred_xgb = y_pred_xgb.round()

In [0]:
#len(y_pred_xgb)

In [0]:
#y_pred_xgb[1:10]

In [139]:
mean_squared_error(y_test,y_pred_xgb)

11922.506998915484

In [140]:
r2_score(y_test,y_pred_xgb)

0.266267505723332

In [0]:
## Hyper Parameter Tuning

n_estimators = [100, 500, 900, 1100, 1500]
max_depth = [2, 3, 5, 10, 15]
booster=['gbtree','gblinear']
base_score=[0.25,0.5,0.75,1]
learning_rate=[0.05,0.1,0.15,0.20]
min_child_weight=[1,2,3,4]

# Define the grid of hyperparameters to search
hyperparameter_grid = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score
    }

In [0]:
#from sklearn.model_selection import RandomizedSearchCV
'''random_cv = RandomizedSearchCV(estimator=xgb,
            param_distributions=hyperparameter_grid,
            cv=5, n_iter=50,
            scoring = 'neg_mean_absolute_error',n_jobs = 4,
            verbose = 5, 
            return_train_score = True,
            random_state=42)'''

In [0]:
#random_cv.fit(x_train,y_train)

In [144]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout


# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 20,activation='relu',input_dim = 10))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 20,activation='relu'))

# Adding the third hidden layer
classifier.add(Dense(output_dim = 10,activation='relu'))
# Adding the output layer
classifier.add(Dense(output_dim = 1))

# Compiling the ANN
classifier.compile(loss='mean_squared_error', optimizer='Adamax')

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=10, units=20)`
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=20)`
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=10)`
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=1)`

In [150]:
model_history=classifier.fit(x_train, y_train,validation_split=0.20, batch_size = 10, nb_epoch = 100)

Train on 253751 samples, validate on 63438 samples
Epoch 1/100
  1330/253751 [..............................] - ETA: 32s - loss: 10975.0734

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

253751/253751 [==============================] - 33s 130us/step - loss: 13400.9869 - val_loss: 9752.4046
Epoch 2/100
253751/253751 [==============================] - 33s 129us/step - loss: 13321.5340 - val_loss: 9738.7758
Epoch 3/100
253751/253751 [==============================] - 33s 130us/step - loss: 13240.1307 - val_loss: 9814.6156
Epoch 4/100
253751/253751 [==============================] - 33s 129us/step - loss: 13156.1270 - val_loss: 9627.3184
Epoch 5/100
253751/253751 [==============================] - 33s 129us/step - loss: 13079.3488 - val_loss: 10028.3984
Epoch 6/100
253751/253751 [==============================] - 33s 130us/step - loss: 12987.6609 - val_loss: 9613.6252
Epoch 7/100
253751/253751 [==============================] - 33s 132us/step - loss: 12946.4386 - val_loss: 9887.8569
Epoch 8/100
253751/253751 [==============================] - 33s 131us/step - loss: 12869.2067 - val_loss: 9580.9818
Epoch 9/100
253751/253751 [==============================] - 33s 129us/step - loss: 12840.5707 - val_loss: 9539.2442
Epoch 10/100
253751/253751 [==============================] - 33s 129us/step - loss: 12789.2871 - val_loss: 9728.8804
Epoch 11/100
253751/253751 [==============================] - 33s 129us/step - loss: 12699.5368 - val_loss: 9740.2944
Epoch 12/100
253751/253751 [==============================] - 33s 130us/step - loss: 12659.2396 - val_loss: 9478.3446
Epoch 13/100
253751/253751 [==============================] - 33s 129us/step - loss: 12672.9423 - val_loss: 9874.4834
Epoch 14/100
253751/253751 [==============================] - 33s 129us/step - loss: 12575.4293 - val_loss: 9520.5709
Epoch 15/100
253751/253751 [==============================] - 33s 129us/step - loss: 12528.2878 - val_loss: 9513.0231
Epoch 16/100
253751/253751 [==============================] - 34s 133us/step - loss: 12503.2538 - val_loss: 9368.4931
Epoch 17/100
253751/253751 [==============================] - 33s 131us/step - loss: 12506.4667 - val_loss: 9363.6608
Epoch 18/100
253751/253751 [==============================] - 33s 129us/step - loss: 12390.4396 - val_loss: 9383.2727
Epoch 19/100
253751/253751 [==============================] - 33s 129us/step - loss: 12396.6004 - val_loss: 9349.3869
Epoch 20/100
253751/253751 [==============================] - 32s 128us/step - loss: 12411.1594 - val_loss: 9339.9093
Epoch 21/100
253751/253751 [==============================] - 33s 129us/step - loss: 12338.6072 - val_loss: 9282.7816
Epoch 22/100
253751/253751 [==============================] - 33s 128us/step - loss: 12335.1210 - val_loss: 9267.4014
Epoch 23/100
253751/253751 [==============================] - 33s 130us/step - loss: 12327.5814 - val_loss: 9305.3289
Epoch 24/100
253751/253751 [==============================] - 33s 130us/step - loss: 12324.5571 - val_loss: 9342.2091
Epoch 25/100
253751/253751 [==============================] - 33s 132us/step - loss: 12310.8324 - val_loss: 9376.5410
Epoch 26/100
253751/253751 [==============================] - 33s 131us/step - loss: 12293.0416 - val_loss: 9466.9568
Epoch 27/100
253751/253751 [==============================] - 33s 132us/step - loss: 12252.8203 - val_loss: 9281.2299
Epoch 28/100
253751/253751 [==============================] - 33s 129us/step - loss: 12218.0050 - val_loss: 9305.7883
Epoch 29/100
253751/253751 [==============================] - 33s 129us/step - loss: 12201.3207 - val_loss: 9447.9819
Epoch 30/100
253751/253751 [==============================] - 33s 130us/step - loss: 12217.9054 - val_loss: 9267.9300
Epoch 31/100
253751/253751 [==============================] - 33s 130us/step - loss: 12252.8685 - val_loss: 9647.9662
Epoch 32/100
253751/253751 [==============================] - 33s 129us/step - loss: 12195.7403 - val_loss: 9492.6693
Epoch 33/100
253751/253751 [==============================] - 33s 128us/step - loss: 12168.8998 - val_loss: 9309.5759
Epoch 34/100
253751/253751 [==============================] - 33s 129us/step - loss: 12148.1546 - val_loss: 9344.1431
Epoch 35/100
253751/253751 [==============================] - 34s 133us/step - loss: 12168.4635 - val_loss: 9355.2653
Epoch 36/100
253751/253751 [==============================] - 33s 131us/step - loss: 12128.2673 - val_loss: 9269.5543
Epoch 37/100
253751/253751 [==============================] - 33s 129us/step - loss: 12178.2579 - val_loss: 9788.4589
Epoch 38/100
253751/253751 [==============================] - 33s 129us/step - loss: 12121.9380 - val_loss: 9305.9498
Epoch 39/100
253751/253751 [==============================] - 33s 129us/step - loss: 12101.4950 - val_loss: 10436.0033
Epoch 40/100
253751/253751 [==============================] - 33s 130us/step - loss: 12115.4971 - val_loss: 9288.1141
Epoch 41/100
253751/253751 [==============================] - 33s 129us/step - loss: 12107.5655 - val_loss: 9265.2007
Epoch 42/100
253751/253751 [==============================] - 33s 129us/step - loss: 12146.5706 - val_loss: 9287.5644
Epoch 43/100
253751/253751 [==============================] - 33s 129us/step - loss: 12105.2977 - val_loss: 10101.3906
Epoch 44/100
253751/253751 [==============================] - 33s 132us/step - loss: 12049.7555 - val_loss: 9248.6603
Epoch 45/100
253751/253751 [==============================] - 34s 132us/step - loss: 12123.1220 - val_loss: 9258.3715
Epoch 46/100
253751/253751 [==============================] - 33s 130us/step - loss: 12126.3470 - val_loss: 9260.0569
Epoch 47/100
253751/253751 [==============================] - 33s 129us/step - loss: 12064.4307 - val_loss: 9308.7278
Epoch 48/100
253751/253751 [==============================] - 33s 129us/step - loss: 12041.4648 - val_loss: 9481.8242
Epoch 49/100
253751/253751 [==============================] - 33s 129us/step - loss: 12016.9736 - val_loss: 9281.2919
Epoch 50/100
253751/253751 [==============================] - 33s 128us/step - loss: 12068.2601 - val_loss: 9340.5024
Epoch 51/100
253751/253751 [==============================] - 33s 129us/step - loss: 12052.6779 - val_loss: 9379.9102
Epoch 52/100
253751/253751 [==============================] - 33s 129us/step - loss: 12036.6407 - val_loss: 9351.8754
Epoch 53/100
253751/253751 [==============================] - 33s 129us/step - loss: 11976.5093 - val_loss: 9242.8571
Epoch 54/100
253751/253751 [==============================] - 33s 132us/step - loss: 12022.1097 - val_loss: 9800.6083
Epoch 55/100
253751/253751 [==============================] - 33s 131us/step - loss: 11966.5360 - val_loss: 9372.6938
Epoch 56/100
253751/253751 [==============================] - 33s 128us/step - loss: 11981.8543 - val_loss: 9391.9317
Epoch 57/100
253751/253751 [==============================] - 33s 129us/step - loss: 12019.6432 - val_loss: 9673.8379
Epoch 58/100
253751/253751 [==============================] - 33s 129us/step - loss: 11984.3688 - val_loss: 9406.2922
Epoch 59/100
253751/253751 [==============================] - 33s 129us/step - loss: 12012.0370 - val_loss: 9389.9560
Epoch 60/100
253751/253751 [==============================] - 33s 129us/step - loss: 11965.8479 - val_loss: 9280.7579
Epoch 61/100
253751/253751 [==============================] - 33s 130us/step - loss: 11983.2104 - val_loss: 9259.2091
Epoch 62/100
253751/253751 [==============================] - 33s 129us/step - loss: 11975.5179 - val_loss: 9283.0494
Epoch 63/100
253751/253751 [==============================] - 33s 132us/step - loss: 12004.7885 - val_loss: 9528.0971
Epoch 64/100
253751/253751 [==============================] - 33s 131us/step - loss: 11973.0310 - val_loss: 9401.9686
Epoch 65/100
253751/253751 [==============================] - 33s 129us/step - loss: 12012.7040 - val_loss: 9255.8372
Epoch 66/100
253751/253751 [==============================] - 33s 129us/step - loss: 11957.5228 - val_loss: 9459.4208
Epoch 67/100
253751/253751 [==============================] - 33s 128us/step - loss: 11980.6736 - val_loss: 9476.6134
Epoch 68/100
253751/253751 [==============================] - 32s 128us/step - loss: 11972.9019 - val_loss: 9236.3285
Epoch 69/100
253751/253751 [==============================] - 33s 129us/step - loss: 11925.7828 - val_loss: 10442.7012
Epoch 70/100
253751/253751 [==============================] - 32s 128us/step - loss: 11966.9704 - val_loss: 9222.4960
Epoch 71/100
253751/253751 [==============================] - 33s 128us/step - loss: 11894.6089 - val_loss: 9469.3634
Epoch 72/100
253751/253751 [==============================] - 32s 128us/step - loss: 12021.4621 - val_loss: 9379.6005
Epoch 73/100
253751/253751 [==============================] - 33s 132us/step - loss: 11947.8541 - val_loss: 9282.6581
Epoch 74/100
253751/253751 [==============================] - 33s 130us/step - loss: 11936.5870 - val_loss: 9430.4787
Epoch 75/100
253751/253751 [==============================] - 33s 129us/step - loss: 11964.5128 - val_loss: 9372.8027
Epoch 76/100
253751/253751 [==============================] - 33s 128us/step - loss: 11954.6022 - val_loss: 9345.6623
Epoch 77/100
253751/253751 [==============================] - 33s 128us/step - loss: 11963.6416 - val_loss: 9344.0409
Epoch 78/100
253751/253751 [==============================] - 33s 128us/step - loss: 11887.0229 - val_loss: 9427.0945
Epoch 79/100
253751/253751 [==============================] - 33s 128us/step - loss: 11940.0977 - val_loss: 10013.4336
Epoch 80/100
253751/253751 [==============================] - 32s 127us/step - loss: 11953.7519 - val_loss: 9527.1703
Epoch 81/100
253751/253751 [==============================] - 33s 129us/step - loss: 11928.8183 - val_loss: 9195.4862
Epoch 82/100
253751/253751 [==============================] - 33s 132us/step - loss: 11897.8065 - val_loss: 9318.9711
Epoch 83/100
253751/253751 [==============================] - 33s 131us/step - loss: 11873.0944 - val_loss: 9212.3919
Epoch 84/100
253751/253751 [==============================] - 33s 128us/step - loss: 11873.5285 - val_loss: 9205.0296
Epoch 85/100
253751/253751 [==============================] - 33s 129us/step - loss: 11914.2201 - val_loss: 9221.5089
Epoch 86/100
253751/253751 [==============================] - 32s 128us/step - loss: 11876.5283 - val_loss: 9508.7420
Epoch 87/100
253751/253751 [==============================] - 32s 127us/step - loss: 11900.0977 - val_loss: 9318.4605
Epoch 88/100
253751/253751 [==============================] - 32s 128us/step - loss: 11813.0422 - val_loss: 9280.5957
Epoch 89/100
253751/253751 [==============================] - 32s 128us/step - loss: 11852.3661 - val_loss: 9263.0740
Epoch 90/100
253751/253751 [==============================] - 33s 129us/step - loss: 11876.2858 - val_loss: 10693.2559
Epoch 91/100
253751/253751 [==============================] - 33s 129us/step - loss: 11843.3252 - val_loss: 9214.7697
Epoch 92/100
253751/253751 [==============================] - 34s 134us/step - loss: 11836.7825 - val_loss: 9244.7648
Epoch 93/100
253751/253751 [==============================] - 33s 128us/step - loss: 11870.2373 - val_loss: 9437.7390
Epoch 94/100
253751/253751 [==============================] - 33s 128us/step - loss: 11863.9189 - val_loss: 9270.6441
Epoch 95/100
253751/253751 [==============================] - 32s 128us/step - loss: 11850.3521 - val_loss: 9224.8972
Epoch 96/100
253751/253751 [==============================] - 33s 129us/step - loss: 11887.1419 - val_loss: 9188.8626
Epoch 97/100
253751/253751 [==============================] - 33s 129us/step - loss: 11818.4646 - val_loss: 9251.3266
Epoch 98/100
253751/253751 [==============================] - 33s 128us/step - loss: 11855.5698 - val_loss: 9842.9844
Epoch 99/100
253751/253751 [==============================] - 32s 128us/step - loss: 11813.8197 - val_loss: 9188.1938
Epoch 100/100
253751/253751 [==============================] - 32s 128us/step - loss: 11808.2960 - val_loss: 9166.2315

In [0]:
y_pred_ann  = classifier.predict(x_test)
y_pred_ann = roundValues(y_pred_ann)

In [158]:
mean_squared_error(y_test,y_pred_ann)

12555.70653736538

In [159]:
r2_score(y_test, y_pred_ann)

0.2272992688614086

In [0]:
from keras.models import model_from_json
Ann_model = classifier.to_json()
with open("Ann_model.json", "w") as json_file:
    json_file.write(Ann_model)

In [0]:
classifier.save_weights('Ann_model.h5')

In [0]:
x_train.corr()